h1 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: rgb(174, 174, 241);
    font-size: 40px;
}

.container {
    width: 240px;
    margin: 0 auto;
    border: 4px solid rgb(221, 169, 12);
    text-align: center;
    padding-top: 16px;
    padding-bottom: 12px;
    border-radius: 15px;
    background-color: rgb(38, 38, 112);
    font-size: 24px;
}

.line {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

button {
    width: 48px;
    height: 48px;
    color: white;
    border-radius: 25px;
    font-family: 'Orbitron', sans-serif;
    border: 1px solid rgb(38, 38, 112);
}

.subcontainer {
    margin-top: 24px;
}

.operator, .equal, .backspace {
    background-color: rgb(221, 169, 12);
}

.number {
    background-color: rgb(102, 98, 98);
}

.clear, .dot {
    color: black;
}

.display {
    margin-top: 12px;
    margin-bottom: 24px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Orbitron', sans-serif;
    color: white;
    text-align: right;
    font-size: 30px;
    min-height: 40px;
    overflow-wrap: break-word;
    height: fit-content;
}

.smalldisplay {
    text-align: left;
    font-family: 'Orbitron', sans-serif;
    color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    min-height: 20px;
}

body {
    background-color: rgb(2, 2, 46);
}

.dispcontainer {
    width: 90%;
    background-color: rgb(102, 123, 39);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    min-height: 76px;
}

.number:hover {
    background-color: rgb(63, 61, 61);
}

.operator:hover,.equal:hover,.backspace:hover {
    background-color: rgb(195, 148, 8);
}

.dot:hover, .clear:hover {
    background-color: rgb(215, 207, 207);
}

.equal {
    flex-grow: 0.865;
}

